.App {
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  margin: 0;
  height: 100vh;
  background-image: url("/public/bg.jpg");
  background-size: cover;
}
.weatherBoxSmallScreen{
  grid-column: 2/ 2;
  grid-row: 1/ -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  /* background-color: rgba(171, 203, 230, 0.851); */
  border: solid black 2px;
  /* border-radius: 5px; */
  padding: 1%;
}

.weatherBoxSmallScreen>div {
  border: solid black 2px;
}
.weatherBox {
  grid-column: 2/ 2;
  grid-row: 1/ -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  background-color: rgba(171, 203, 230, 0.851);
  border: solid black 2px;
  /* border-radius: 5px; */
  padding: 1%;
}

.weatherBox>div {
  border: solid black 2px;



}

.box1,
.box6 {
  grid-column: 1/span 2;

}

.box1 {
  border-radius: 10px 10px 0 0;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.box6 {
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 1%; */
}
div > img{
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-image: url("/public/smallbg.jpg");
    background-size:cover;
    color: white;

  }  
  

  .weatherBox {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    margin: 5%;
  }
  .weatherBoxSmallScreen{
    grid-column: span 2;
    grid-row: 1/span 4;
    display: grid;
    height: 100%;
    padding: 5% 5% 0 5%;;
  }
  .box1{
    /* margin: 5% 5% 0 5%; */

  }
  .weatherBoxSmallScreen >div {
    border-radius: 10px;
    background-image: linear-gradient( rgba(30, 92, 173, 0.753), rgba(123,162,213, 0.753));
    /* background-color: rgba(30, 92, 173, 0.753); */
    border: none;
  }
}