@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.App {
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  margin: 0;
  height: 100vh;
  background-image: url("/public/largebg.jpg");
  background-size: cover;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.weatherBoxSmallScreen {
  grid-column: 2/ 2;
  grid-row: 1/ -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  padding: 1%;
  font-family: 'Dosis', sans-serif;
}

.weatherBox {
  grid-column: 2/ 2;
  grid-row: 1/ -1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  background-color: rgba(171, 203, 230, 0.851);
  border: solid black 2px;
  padding: 1%;
}

.weatherBoxSmallScreen>div {
  background-image: linear-gradient(rgba(30, 92, 173, 0.9), rgba(123, 162, 213, 0.9));
  border-radius: 10px;

}

.box1 {
  grid-column: 1/span 2;

}

.box1 {
    padding: 4%;
    place-items: center;
  }

.box2, .box3, .box4, .box5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url("/public/smallbg.jpg");
    background-size: cover;
  }

  .weatherBoxSmallScreen {
    grid-column: span 2;
    grid-row: 2/span 4;
    display: grid;
    height: 100%;
    padding: 5% 5% 0 5%;
  }

  .weatherBoxSmallScreen>div {
    background-image: linear-gradient(rgba(30, 92, 173, 0.753), rgba(123, 162, 213, 0.753));
  }
}